* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/forest.jpg");
  background-size: 1900px;
  background-repeat: no-repeat;
}
.container .header .header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: 230px;
  width: 60%;
  color: white;
}
.container .header .header-info .headshot {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin-top: -125px;
  background-image: url("../../images/sanfran.jpg");
  background-size: cover;
  position: absolute;
}
.container .header .header-info .name {
  font-size: 65px;
  font-weight: 200;
  margin-top: 180px;
}
.container .header .header-info .contact {
  font-weight: 300;
  font-size: 25px;
}
.container .body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container .body .section {
  display: flex;
  padding: 40px;
}
.container .body .section.experience {
  background: #5CDB95;
  color: #EDF5E1;
  opacity: 0;
}
.container .body .section.experience.animate-experience {
  animation: fadeInUp 1.8s ease-in-out 0s forwards;
}
.container .body .section.skills .skills-graphs {
  width: 100%;
}
.container .body .section.skills .skills-graphs svg {
  height: 100%;
  width: 100%;
}
.container .body .section.skills .skills-graphs svg .circle, .container .body .section.skills .skills-graphs svg .circle2, .container .body .section.skills .skills-graphs svg .circle3, .container .body .section.skills .skills-graphs svg .circle4, .container .body .section.skills .skills-graphs svg .circle5 {
  fill: none;
  stroke-width: 4;
  transition: 0.4s stroke-width;
  opacity: 0;
}
.container .body .section.skills .skills-graphs svg .circle:hover, .container .body .section.skills .skills-graphs svg .circle2:hover, .container .body .section.skills .skills-graphs svg .circle3:hover, .container .body .section.skills .skills-graphs svg .circle4:hover, .container .body .section.skills .skills-graphs svg .circle5:hover {
  stroke: #EDF5E1;
  transition: 0.4s stroke-width;
  stroke-width: 5;
  cursor: pointer;
}
.container .body .section.skills .skills-graphs svg .circle.animate-circle, .container .body .section.skills .skills-graphs svg .circle2.animate-circle, .container .body .section.skills .skills-graphs svg .circle3.animate-circle, .container .body .section.skills .skills-graphs svg .circle4.animate-circle, .container .body .section.skills .skills-graphs svg .circle5.animate-circle {
  opacity: 1;
  animation: progress 1.7s ease-out forwards;
}
.container .body .section.skills .skills-graphs svg .circle {
  stroke: #8EE4AF;
}
.container .body .section.skills .skills-graphs svg .circle2 {
  stroke: #5CDB95;
}
.container .body .section.skills .skills-graphs svg .circle3 {
  stroke: #379683;
}
.container .body .section.skills .skills-graphs svg .circle4 {
  stroke: #05386B;
}
.container .body .section.skills .skills-graphs svg .skill {
  fill: #777;
  opacity: 0;
  font-size: 2px;
}
.container .body .section.skills .skills-graphs svg .skill.animate-text {
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 1s;
}
.container .body .section.skills .skills-graphs svg .skill .skill-subset {
  opacity: 0;
  font-size: 0.8em;
  transition: all 1s;
  fill: #aaa;
}
.container .body .section.skills .skills-graphs svg .skill .skill-subset.animate-skill {
  transition: all 0.4s ease-out;
  opacity: 1;
}
.container .body .section.skills .education {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.container .body .section.skills .education.animate-education {
  animation: fadeInUp 1.8s ease-in-out 0s forwards;
}
.container .body .section.projects {
  opacity: 0;
}
.container .body .section.projects.animate-projects {
  animation: fadeInUp 1.8s ease-in-out 0s forwards;
}
.container .body .section .section-header {
  flex: 1;
  height: 100%;
  align-self: flex-start;
  font-size: 45px;
  font-weight: 600;
  margin-right: 20px;
}
.container .body .section .section-header .decor {
  height: 10px;
  width: 45px;
  border-radius: 10px;
  background: #379683;
  margin-bottom: 10px;
}
.container .body .section .section-body {
  flex: 4;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.container .body .section .section-body .heading {
  font-size: 30px;
  color: #000;
}
.container .body .section .section-body .heading.ra {
  margin-top: 30px;
}
.container .body .section .section-body .subheading {
  color: #05386B;
  font-size: 20px;
  margin-top: 10px;
}
.container .body .section .section-body .date {
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
}
.container .body .section .section-body p {
  color: #000;
  padding: 2px;
}
.container .body .section .section-body .swiper-container {
  width: 1000px;
  height: 300px;
  padding: 30px;
  background: #8EE4AF;
  border-radius: 30px;
}
.container .body .section .section-body .swiper-container .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  border-radius: 20px;
  cursor: pointer;
}
.container .body .section .section-body .swiper-container .swiper-slide a {
  width: 100%;
  height: 100%;
}
.container .body .section .section-body .swiper-container .swiper-slide.slide-1 {
  background: url("../../images/degreeplanner.png");
  background-size: cover;
}
.container .body .section .section-body .swiper-container .swiper-slide.slide-2 {
  background: url("../../images/paradigm.png");
  background-size: cover;
  background-position: center;
}
.container .body .section .section-body .swiper-container .swiper-slide.slide-3 {
  background: url("../../images/cardioid-fiber.png");
  background-size: cover;
  background-position: center;
}
.container .body .section .section-body .swiper-container .swiper-slide.slide-4 {
  background: url("../../images/website.jpg");
  background-size: cover;
}
.container .body .section .section-body .swiper-container .swiper-slide.slide-5 {
  background: url("../../images/pancake-flipper.png");
  background-size: cover;
  background-position: center;
}
.container .fab {
  font-size: 40px;
  padding: 10px;
  color: #fff;
}
.container .footer {
  height: 60px;
  width: 100vw;
  background: #379683;
  color: white;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} 
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/*# sourceMappingURL=styles.css.map */
