* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.container {
	display: flex; 	
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 

	.header {
		display: flex; 
		flex-direction: column; 
		align-items: center; 
		width: 100%; 
		height: 710px; 
		background-image: url("../../images/forest.jpg"); 
		background-size: 1900px; 
		background-repeat: no-repeat;

		.header-info {
			display: flex; 
			flex-direction: column; 
			align-items: center;
			margin-top: 200px; 
			height: 230px; 
			width: 60%;
			color: white;

			.headshot {
				height: 300px; 
				width: 300px; 
				border-radius: 150px; 
				margin-top: -125px;
				background-image: url("../../images/sanfran.jpg");
				background-size: cover; 
				position: absolute; 
			}

			.name {
				font-size: 65px; 
				font-weight: 200; 
				margin-top: 180px; 
			}

			.contact {
				font-weight: 300; 
				font-size: 25px;
			}
		}
	}

	.body {
		display: flex; 
		flex-direction: column; 
		width: 100%;
		height: 100%;
		// background: #5CDB95;

		.section {
			display: flex; 
			padding: 40px; 

			&.experience {
				background: #5CDB95; 
				color: #EDF5E1;
			}

			&.skills {
				.skills-graphs {
					display: flex; 
					align-items: center; 
					justify-content: center;
					// padding: 80px 0 80px;
					background: red;
					min-width: 100%;
					height: 1000px;

					svg {
						// position: relative;
						max-height: 500px;
						min-width: 100%;
						background: black;

						.circle, .circle2, .circle3, .circle4, .circle5 {
							fill: none;
							stroke-width: 4;

							&.animate-circle {
								animation: progress .1s ease-out forwards;
							}
						}

						.circle {stroke: red;}
						.circle2 {stroke: green;}
						.circle3 {stroke: orange;}
						.circle4 {stroke: purple;}

						.skill {
							fill: #aaa; 
							opacity: 0; 
							font-size: 2px; 
							&.animate-text {
								animation: fadeInUp .1s ease-in-out 0s forwards;
								// animation-delay: 2.2s; 
							}
						}

						@keyframes progress {
							0% { 
								stroke-dasharray: 0 100;
							}
						}

						@keyframes fadeInUp {
							from { 
								opacity: 0;
								-webkit-transform: translate3d(0, 100%, 0);
								transform: translate3d(0, 100%, 0);
							}

							to {
								opacity: 1;
								-webkit-transform: none;
								transform: none;
							}
						}
					}
				}
			}

			&.projects {
				// background: red; 

			}

			.section-header {
				flex: 1;
				height: 100%; 
				align-self: flex-start;
				font-size: 45px; 
				font-weight: 600; 
				margin-right: 20px; 

				.decor {
					height: 10px; 
					width: 45px; 
					border-radius: 10px; 
					background: #379683;
					margin-bottom: 10px; 
				}
			}

			.section-body {
				flex: 4;
				display: flex; 
				flex-direction: column; 
				width: 100vw;

				.heading {
					font-size: 30px; 
					color: #000; 
				}

				.subheading {
					color: #05386B;
					font-size: 20px; 
					margin-top: 10px;
				}

				.date {
					font-size: 15px; 
					margin-bottom: 10px; 
					color: #000; 
				}

				p {
					color: #000;
					padding: 2px;
				}

				.swiper-container {
				    width: 1000px;
				    height: 300px;
				    padding: 30px; 
				    background: #8EE4AF;
				    border-radius: 30px; 

				    .swiper-slide {
				    	display: flex; 
				    	align-items: center; 
				    	justify-content: center; 
				    	height: 90%; 
				    	border-radius: 20px; 
				    	cursor: pointer;
				    	
				    	a {
				    		width: 100%; 
				    		height: 100%; 
				    	}

				    	&.slide-1 {
				    		background: url("../../images/degreeplanner.jpg");
				    		background-size: cover; 

				    	}

				    	&.slide-2 {
				    		background: url("../../images/website.jpg");
				    		background-size: cover;
				    		background-position: center; 
				    	}

				    	&.slide-3 {
				    		background: url("../../images/pancakeflipper.jpg");
				    		background-size: cover;
				    		background-position: center; 
				    	}

				    	&.slide-4 {
				    		background: url("../../images/degreeplanner.jpg");
				    		background-size: cover;
				    	}
				    }
				}
			}
		}
	}

	.fab {
		font-size: 40px; 
		padding: 10px; 
		color: #fff;
	}

	.footer {
		height: 60px; 
		width: 100vw;
		background: #379683;
		color: white; 
	}
}

@media all and (max-width: 1690px) { }
@media all and (max-width: 1280px) {}
@media all and (max-width: 980px) {  }
@media all and (max-width: 736px) { }
@media all and (max-width: 480px) {  }