* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.container {
	display: flex; 	
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 

	.header {
		display: flex; 
		flex-direction: column; 
		align-items: center; 
		width: 100%; 
		height: 100vh; 
		background-image: url("../../images/forest.jpg"); 
		background-size: 1900px; 
		background-repeat: no-repeat;

		.header-info {
			display: flex; 
			flex-direction: column; 
			align-items: center;
			margin-top: 200px; 
			height: 230px; 
			width: 60%;
			color: white;

			.headshot {
				height: 300px; 
				width: 300px; 
				border-radius: 150px; 
				margin-top: -125px;
				background-image: url("../../images/sanfran.jpg");
				background-size: cover; 
				position: absolute; 
			}

			.name {
				font-size: 65px; 
				font-weight: 200; 
				margin-top: 180px; 
			}

			.contact {
				font-weight: 300; 
				font-size: 25px;
			}
		}
	}

	.body {
		display: flex; 
		flex-direction: column; 
		width: 100%;
		height: 100%;
		// background: #5CDB95;

		.section {
			display: flex; 
			padding: 40px; 

			&.experience {
				background: #5CDB95; 
				color: #EDF5E1;
				opacity: 0; 

				&.animate-experience {
					animation: fadeInUp 1.8s ease-in-out 0s forwards;
				}
			}

			&.skills {
				.skills-graphs {
					width: 100%;

					svg {
						height: 100%;
						width: 100%; 

						.circle, .circle2, .circle3, .circle4, .circle5 {
							fill: none;
							stroke-width: 4;
							transition: .4s stroke-width;
							opacity: 0; 

							&:hover {
								stroke: #EDF5E1;
								transition: .4s stroke-width;
								stroke-width: 5; 
								cursor: pointer;
							}

							&.animate-circle {
								opacity: 1; 
								animation: progress 1.7s ease-out forwards;
							}
						}

						.circle {stroke: #8EE4AF;}
						.circle2 {stroke: #5CDB95;}
						.circle3 {stroke: #379683;}
						.circle4 {stroke: #05386B;} 

						.skill {
							fill: #777; 
							opacity: 0; 
							font-size: 2px; 

							&.animate-text {
								animation: fadeInUp 1s ease-in-out 0s forwards;
								animation-delay: 1s; 
							}

							.skill-subset {
								opacity: 0; 
								font-size: .8em; 
								transition: all 1s;
								fill: #aaa;

								&.animate-skill {
									transition: all .4s ease-out; 
									opacity: 1.0; 
								}
							}
						}
					}
				}

				.education {
					display: flex; 
					flex-direction: column;
					opacity: 0; 

					&.animate-education {
						animation: fadeInUp 1.8s ease-in-out 0s forwards;
					}
				}
			}

			&.projects {
				opacity: 0; 

				&.animate-projects {
					animation: fadeInUp 1.8s ease-in-out 0s forwards;
				}
			}

			.section-header {
				flex: 1;
				height: 100%; 
				align-self: flex-start;
				font-size: 45px; 
				font-weight: 600; 
				margin-right: 20px; 

				.decor {
					height: 10px; 
					width: 45px; 
					border-radius: 10px; 
					background: #379683;
					margin-bottom: 10px; 
				}
			}

			.section-body {
				flex: 4;
				display: flex; 
				flex-direction: column; 
				width: 100vw;

				.heading {
					font-size: 30px; 
					color: #000; 
					&.ra {
						margin-top: 30px; 
					}
				}

				.subheading {
					color: #05386B;
					font-size: 20px; 
					margin-top: 10px;
				}

				.date {
					font-size: 15px; 
					margin-bottom: 10px; 
					color: #000; 
				}

				p {
					color: #000;
					padding: 2px;
				}

				.swiper-container {
				    width: 1000px;
				    height: 300px;
				    padding: 30px; 
				    background: #8EE4AF;
				    border-radius: 30px; 

				    .swiper-slide {
				    	display: flex; 
				    	align-items: center; 
				    	justify-content: center; 
				    	height: 90%; 
				    	border-radius: 20px; 
				    	cursor: pointer;
				    	
				    	a {
				    		width: 100%; 
				    		height: 100%; 
				    	}

				    	&.slide-1 {
				    		background: url("../../images/degreeplanner.png");
				    		background-size: cover; 

				    	}

				    	&.slide-2 {
				    		background: url("../../images/paradigm.png");
				    		background-size: cover;
				    		background-position: center; 
				    	}

				    	&.slide-3 {
				    		background: url("../../images/cardioid-fiber.png");
				    		background-size: cover;
				    		background-position: center; 
				    	}

				    	&.slide-4 {
				    		background: url("../../images/website.jpg");
				    		background-size: cover;
				    	}

				    	&.slide-5 {
				    		background: url("../../images/pancake-flipper.png");
				    		background-size: cover;
				    		background-position: center;
				    	}
				    }
				}
			}
		}
	}

	.fab {
		font-size: 40px; 
		padding: 10px; 
		color: #fff;
	}

	.footer {
		height: 60px; 
		width: 100vw;
		background: #379683;
		color: white; 
	}
}

@keyframes progress {
	0% { 
		stroke-dasharray: 0 100;
	}
}

@keyframes fadeInUp {
	from { 
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeOutDown {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(20px);
   } 
} 

@media all and (max-width: 1690px) { }
@media all and (max-width: 1280px) {}
@media all and (max-width: 980px) {  }
@media all and (max-width: 736px) { }
@media all and (max-width: 480px) {  }